.aboutSection,
.skillsSection {
  padding: 1.5rem 0;
}

.aboutSection__name {
  font-size: 4.5rem;
  font-family: "Oswald";
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}
.aboutSection__tagline {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1.8rem;
}
.aboutSection__bio {
  line-height: 1.5;
}

.skillsSection__title,
.recentPostsSection__title {
  font-size: 3rem;
  padding-left: 2rem;
  margin-bottom: 4rem;
  font-family: "Oswald";
  letter-spacing: 1px;
  position: relative;
}
.skillsSection__title::before,
.recentPostsSection__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background-color: var(--primary-color);
}
.skillsSection__info {
  line-height: 1.5;
}
.skillsSection__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.skillBox {
}
.skillBox__icons i {
  margin-right: 0.75rem;
  font-size: 3rem;
}
.skillBox__icons i.fa-react {
  color: #00d8ff;
}
.skillBox__icons i.fa-js-square {
  color: #f5de19;
}
.skillBox__icons i.fa-html5 {
  color: #f16529;
}
.skillBox__icons i.fa-css3-alt {
  color: #2d66f3;
}
.skillBox__icons i.fa-sass {
  color: #cb6095;
}

.skillBox__title {
  margin: 0.8rem 0;
}
.skillBox__description {
  font-size: 1.4rem;
}

.recentPostsSection {
  margin-bottom: 2rem;
}
.recentPostsSection__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
.postCard {
  background-color: #f1f1f1;
  overflow: hidden;
}
.postCard__body {
  padding: 1.5rem;
}
.postCard__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.postCard__excerpt {
  font-size: 1.4rem;
}
.postCard__date {
  font-size: 1.2rem;
}

.recentPostsSection__button {
  display: inline-block;
  padding: 1.5rem 2.4rem;
}

@media (min-width: 768px) {
  .recentPostsSection__list {
    grid-template-columns: 1fr 1fr;
  }
  .skillsSection__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .aboutSection,
  .skillsSection,
  .recentPostsSection {
    padding: 3rem;
  }
  .recentPostsSection__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
