.blogPage,
.postPage {
  padding: 3rem 0;
}
.blogPage__title,
.postPage__title {
  padding-left: 2rem;
  font-family: "Oswald";
  letter-spacing: 1px;
  position: relative;
}
.blogPage__title {
  font-size: 4.5rem;
  margin-bottom: 4rem;
}
.postPage__title {
  margin-bottom: 3rem;
  font-size: 3rem;
}
.blogPage__title::before,
.postPage__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background-color: var(--primary-color);
}

.postCardsSection {
  margin-bottom: 2rem;
}
.postCardsSection__list,
.blogPage__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}
.postCard {
  /* background-color: #f1f1f1; */
  border: 1px solid #ccc;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}
.postCard:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.3);
}
.postCard__body {
  padding: 1.5rem;
}
.postCard__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: opacity 0.2s ease-in;
}
.postCard__title:hover {
  opacity: 0.8;
}
.postCard__excerpt {
  font-size: 1.4rem;
}
.postCard__date {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.postCardsSection__button {
  display: inline-block;
  padding: 1.5rem 2.4rem;
}

.blogPage__pagination {
  display: flex;
  justify-content: center;
}
.blogPage__pagination button {
  padding: 1rem 1.5rem;
}
.blogPage__pagination button:last-child {
  border-radius: 0 5px 5px 0;
}
.blogPage__pagination button:first-child {
  border-radius: 5px 0 0 5px;
}

.postPage__body {
  margin-top: 3rem;
}
.postPage__body h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  padding-top: 1.4rem;
}
.postPage__body p,
.postPage__body ol,
.postPage__body ul {
  line-height: 1.5;
  font-size: 1.8rem;
}
.postPage__body a {
  color: var(--primary-color);
}
.postPage__body ol,
.postPage__body ul {
  list-style-position: inside;
  margin: 0 0 1.5rem 1rem;
}
.postPage__body ul {
  list-style-type: circle;
}
.postPage__body ul li::marker {
}

.postPage__date {
  display: inline-block;
  margin-bottom: 3rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .postCardsSection__list,
  .blogPage__list {
    grid-template-columns: 1fr 1fr;
  }
  .postPage__title {
    font-size: 3.6rem;
  }
}

@media (min-width: 992px) {
  .blogPage,
  .postPage {
    padding: 3rem;
  }

  .postCardsSection {
    padding: 3rem;
  }
  .postCardsSection__list,
  .blogPage__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .postPage__title {
    font-size: 4.5rem;
  }
}
