@import url("theme.css");
@import url("global.css");
@import url("fontawsome/fontawesome.min.css");
@import url("fontawsome/brands.min.css");
@import url("fontawsome/solid.min.css");
@import url("navbar.css");
@import url("about-me.css");
@import url("blog.css");

.pageWrapper {
  display: flex;
  flex-direction: column;
}
.pageWrapper__header {
  width: 100%;
}

.footer {
  padding: 3rem 0;
}

.rule {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
  .pageWrapper {
    flex-direction: row;
  }
  .pageWrapper__header {
    width: 28rem;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
  .pageWrapper__main {
    margin-left: 28rem;
    overflow-x: hidden;
    width: 100%;
  }
}
