.navbar {
  padding: 1.5rem 0;
}
.navbar .container {
  /* width: 100%; */
}
.navbar__top {
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__side {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
#menu-toggle:checked + .navbar__side {
  max-height: 100vh;
}
.navbar__menuBars {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  cursor: pointer;
}
.navbar #menu-toggle {
  display: none;
}
.navbar__brand {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  position: absolute;
  top: 3px;
  left: 0;
  pointer-events: none;
}

.navbar__brand a {
  font-family: "Tomorrow";
  pointer-events: all;
}

.profile__imgWrapper {
  width: 100%;
  padding: 1.5rem 0;
}
.profile__img {
  width: 11rem;
  height: 11rem;
  margin: 0 auto;
}

.socialList {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.socialList__item {
  margin-right: 1rem;
}
.socialList__item:last-child {
  margin: 0;
}
.socialList__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.socialList__item a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.navLinks__item a {
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
}
.navLinks__item a:hover {
  color: rgba(255, 255, 255, 1);
}
.navLinks__item a i {
  margin-right: 1rem;
}

.navbar__hireBtn {
  padding: 1.2rem 2rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  /* font-size: 1.8rem; */
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.navbar__hireBtn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
  .navbar__menuBars {
    visibility: hidden;
  }
  .navbar__side {
    max-height: 100%;
  }
  .navbar .container {
    width: auto;
  }
}
